name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant Gradle Permission
      run: chmod +x gradlew

    - name: Create Missing Binary Directory
      run: mkdir -p app/src/main/assets/xlarig/armeabi-v7a && touch app/src/main/assets/xlarig/armeabi-v7a/xlarig.v1

    - name: Build Debug APK
      run: ./gradlew assembleDebug --stacktrace

    - name: Upload Debug APK
      uses: actions/upload-artifact@v3
      with:
        name: scala-miner-debug
        path: app/build/outputs/apk/debug/app-debug.apk
